/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Quicksand:wght@300..700&display=swap');

/* Base styles */
/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    color: rgb(32, 30, 30);
}

/* Typography */
h1 {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: rgb(32, 30, 30);
}

/* Header */
header {
    background-color: coral;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigation menu */
nav, #menu {
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

nav {
    position: absolute;
    background-color: coral;
    width: 100vh;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 98;
    top: 100%;
    display: none;
}

#menu-toggle:checked~nav {
    display: block;
}

.active {
    border-bottom: 1px solid;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */