/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Quicksand:wght@300..700&display=swap');

/* Base styles */
/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    color: #393434;
}

/* Typography */
h1 {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

h2, h3 {
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* Header */
header {
    background-color: #eac5a9;
    padding: 0 1rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #5f6c7b;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigation menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    padding: 0;
}

#menu > li {
    margin-bottom: 1em;
}

header > nav {
    position: absolute;
    background-color: #eac5a9;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #5f6c7b;
    /* z-index: 98; */
    top: 100%;
    display: none;
}

#menu-toggle:checked~nav {
    display: block;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 2rem;
    padding: 1rem 0;
}

.active {
    border-bottom: 1px solid;
}

/* Main content */
main {
    background-color: #f5e5dc;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

#hero-image {
    height: 100vh;
    width: 100%; 
    /* Set fallback background color in case background image doesn't load */
    background-color: #eac5a9; 
    /* Background color should be overwritten by the following bachground image */
    background: url(../images/hero-image-banner.png) no-repeat 80% 20%/cover;
}

#cover-text {
    background-color: rgba(245, 229, 220, 0.6);
    position: absolute;
    bottom: 94px;
    width: 80%;
    min-height: 132px;
    padding-top: 40px;
    padding-left: 10px;
    color: #392116;
}

.jump-btn {
    background-color: #829086;
    color: #232623;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.arrow-icon a {
    color: #829086;
    font-size: 2rem;
}

.card-text {
    text-align: justify;
    color: inherit;
}

/* Blog Styles */
.fixed-nav {
    position: fixed;
    top: 100%;
    z-index: 100;
}

/* Contact Form Styles */
#get-in-touch {
    background-image: url(../images/contact-form-background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#message {
    margin: 10px 15px;
    padding: 5px;
    background-color: rgba(234, 197, 169, 0.7);
}

.text-input {
    background: transparent;
    /* font-family: 'Quicksand' sans-serif; */
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    /* Ensures padding doesn't exceed the width */
    box-sizing: border-box;
}

.text-input::placeholder {
    color: #fafafa;
    opacity: 1;
}

#message h2 {
    margin-bottom: 20px;
}

#message button {
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #eac5a9;
}

#social-networks {
    text-align: center;
    padding: 20px 0; 
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
     font-size: 160%;
     padding: 5%;
     color: #393434;
}